@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var apps = ViewData["apps"] as IEnumerable<AppModel>;
}

@inject Portfolio.Repositories.IAppRepository _appRepository;

@model AppModel;

<div class="container my-container">
    @if (Model != null)
    {
        <h3 class="display-4 shift-title">@Model.Name</h3>
        <div class="white-board full-board">
            <div class="row">
                <div class="col">
                    <img src="@Model.Picture" class="my-img align-content-center text-center" alt="Screenshot" />
                </div>
                <div class="col">
                    <h3 class="display-4">Authors</h3>
                    <p>@Model.Authors</p>
                    <h3 class="display-4">Description</h3>
                    <p>@Model.Description</p>
                    <h3 class="display-4">Language(s)</h3>
                    <p>@Model.Language</p>
                    <button class="btn btn-dark"><a class="white white-link" href="@Model.Link">Click To View</a></button>
                </div>
            </div>


        </div>
    }
    else
    {
        <h3 class="display-4 text-center">Project doesn't exist. &#129488</h3>
    }


</div>


@section projects
{
    @try
    {
        <div class="background-padding md-3 text-center">


            <h3 class="display-4">Looking For Other Projects?</h3>
            <p class="pad-more">Here is a list of projects I've worked on during the majority of my undergraduate years in college.</p>

            <div class="row">

                @if (apps != null)
                {
                    @await Html.PartialAsync("_RenderApps", apps);
                }
                else
                {
                    <p>No Apps Available 1</p>
                }
            </div>
        </div>
    }
    catch
    {
        <h3>Sorry, Problem loading page. :(</h3>
    }
}